/* Header */

.profile-info 
{
  text-align: left;
}

.profile-settings
{
  margin-left: 65%;
}

.fa-user-minus
{
  color: rgb(121, 115, 156);
}

.fa-globe
{
  color: #a7a5a5;
}

.fa-rss
{
  color: #f93;
}

/* End Header */
/* ----------------------------------------------------------- */
/* Nav Bar */

.nav-bar
{
  margin-left: 9%;
  margin-right: 8%;
  border-top: 1px solid grey;
  border-bottom: 1px solid gray;
  min-height: 42px;
}

.nav-bar 
{
  padding-top: .3rem;
  padding-bottom: .3rem;
  height: 30px;
}

/* Main Content */

.problem-page 
{
  padding-top: 15px;
}

.a
{
  font-weight: 600;
  text-decoration: none;
  color: #6b4e3d;
  cursor: pointer;
}

.a:hover
{
  color: #6b4e3d;
}

h2
{
  color: #6b4e3d;
}

.title-link
{
  color: #6b4e3d;
}

.title-link:hover
{
  color: #6b4e3d;
}

.page-numbers
{
  padding-top: 20px;
} 

#archives
{
  background-color: #f93;
  color: white;
}

#account
{
  color: #a00;
}

#page
{
  border: 1px solid #595454;
  background-color: #eee;
  width: 10px;
  height: 10px;
  padding: 5px 10px;
  margin: 0 5px;
}

#page:hover
{
  background-color: #999;
}

.small-notice
{
  font-size: small;
}

.page-item 
{
  padding-left: 5px;
}

.go-to
{
  font-size: 12px;
  padding-left: 10px;
}

.box
{
  width: 75px;
  height: 20px;
}

.cl
{
  background-clip: padding-box;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: linear-gradient(to left, transparent 68px, #f93 20px, #f93); 
}

.hidden-div {
  display: none;
}


/* ///////////////////////////////////////////////////////////////////////////// */

/* Styles for the navigation bar for numbers*/

.navbar-light 
{
  background-color: white; /* Cream white background */
  font-family: "Lucida Consolas", "Consolas", "Courier New", monospace;
  font-size: large;
}

.main-content
{
  border: 1px solid #eee;
  width: auto;
  height: auto;
  font-family: "Lucida Consolas", "Consolas", "Courier New", monospace;
  margin-bottom: 3%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  font-size: large;
}

.answer
{
  border: 1px solid #eee;
  height: auto;
  background-color: white;
  margin-right: 30%;
  margin-left: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

#number
{
  margin-top: auto;
  margin-left: auto;
  width: 86%;
  height: 100%;
}

.chek
{
  margin-top: 1%;
  margin-left: 40%;
}


.foot
{
  margin-top: 10%;
  padding-left: 40%;
}
