/* Header */

header
{
  margin-left: 8%;
  margin-right: 8%;
}
.profile-info 
{
  text-align: left;
}

.fa-user-minus
{
  color: rgb(121, 115, 156);
}

.fa-globe
{
  color: #a7a5a5;
}

.fa-rss
{
  color: #f93;
}

/* End Header */
/* ----------------------------------------------------------- */
/* Nav Bar */

.nav-bar
{
  margin-left: 9%;
  margin-right: 8%;
  border-top: 1px solid grey;
  border-bottom: 1px solid gray;
  min-height: 42px;
  padding-top: .3rem;
  padding-bottom: .3rem;
  height: 30px;
}


/* Main Content */

.problem-page 
{
  padding-top: 15px;
}

.a
{
  font-weight: 600;
  text-decoration: none;
  color: #6b4e3d;
  cursor: pointer;
}

.a:hover
{
  color: #6b4e3d;
}

h2
{
  color: #6b4e3d;
}

.title-link
{
  color: #6b4e3d;
}

.title-link:hover
{
  color: #6b4e3d;
}

.page-numbers
{
  padding-top: 20px;
} 

#archives
{
  background-color: #f93;
  color: white;
}

#account
{
  color: #a00;
}

#page
{
  border: 1px solid #595454;
  background-color: #eee;
  width: 10px;
  height: 10px;
  padding: 5px 10px;
  margin: 0 5px;
}

#page:hover
{
  background-color: #999;
}

.small-notice
{
  font-size: small;
}

.page-item 
{
  padding-left: 5px;
}

.go-to
{
  font-size: 12px;
  padding-left: 10px;
}

.box
{
  width: 75px;
  height: 20px;
}

.cl
{
  background-clip: padding-box;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: linear-gradient(to left, transparent 68px, #f93 20px, #f93); 
}

.hidden-div 
{
  display: none;
}


/* ///////////////////////////////////////////////////////////////////////////// */

/* Styles for the navigation bar for numbers*/

.navbar-light 
{
  background-color: white; /* Cream white background */
  font-family: "Lucida Consolas", "Consolas", "Courier New", monospace;
  font-size: large;
}

.tp
{
  margin-right: 0.5%;
  margin-top: 0.1%;
}

.main-content
{
  border: 1px solid #eee;
  width: auto;
  height: auto;
  font-family: "Lucida Consolas", "Consolas", "Courier New", monospace;
  margin-bottom: 3%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  font-size: large;
}

.answer
{
  border: 1px solid #eee;
  height: auto;
  background-color: white;
  margin-right: 30%;
  margin-left: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

#number
{
  margin-top: 0;
  width: 75%;
  height: 100%;
}

.foot
{
  margin-top: 10%;
  margin-left: 30%;
}


.card 
{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: auto;
}

.card .btn 
{
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  margin-top: 1%;
  margin-left: 45%;
}

.replacer
{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: auto;
}

.paper {
  position: absolute;
  width: 20px; /* Adjust paper width */
  height: 20px; /* Adjust paper height */
  border-radius: 10px; /* Adjust paper border radius */
  animation-fill-mode: forwards;
}

@keyframes paperAnimation {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

